<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos Somos Uno</title>
    <!--Elaborado por Bruno Bravo, Josué Matailo, Alejandro Chalàn y Nathaly Pinguil-->
    <link rel="stylesheet" href="app.component.css">
    <script src="https://kit.fontawesome.com/af31a7d7da.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="main">
        <!--Inicio del Encabezado-->
        <header class=".encabezadoprincipal">
            <div class="titulo">
                <h2>PÁGINA WEB PARA INFORMAR SOBRE LA AYUDA SOCIAL QUE SE BRINDA EN LA CIUDAD DE CUENCA DANDO A CONOCER EL PROYECTO TODOS SOMOS UNO</h2>
            </div>
            <div class="header__superior">
                <div class="logo">
                    <img src="../assets/img/contenido_encabezado/vision.png" alt="">
                </div>
                <div class="buscador">
                    <input type="buscador" placeholder="¿QUE DESEAS BUSCAR?">
                </div>
            </div>
    
            <div class="contaniner__menu">
    
                <input type="checkbox" id="check__menuu">
                <label id="#label__checkk" for="check__menuu">
                    <i class="fa-solid fa-bars-progress iconn__menu"></i>
                </label>
    
                <!--Inicio del menu principal-->
                <div class="menu">
                    <nav>
                        <ul>
                            <li><a href="#" id="selected"></a></li>
                            <li><a href="#artUno">Conócenos</a>
                            <li><a href="#artDos">Mision</a></li>
                            <li><a href="#artTres">Objetivo</a></li>
                            <li><a href="#artCuatro">vision</a></li>
                            <li><a href="#">Quienes Somos</a></li>
                            <li><a href="#">Ayuda desde el hogar</a>
                                <ul>
                                    <li><a href="#">Opcion 1</a></li>
                                    <li><a href="#">Opcion 1</a></li>
                                    <li><a href="#">Opcion 1</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
    
            </div>
    
        </header>

        <!--Inicio del Section-->
        <section class="contenidoprincipal">
            <div class="eslogan">
                <img src="../assets/img/contenido_principal/handOne.png" alt="Imagen de mano solidaria">
                <h1>QUE TU <br>EXCEDENTE <br> SEA TU BONDAD</h1>
            </div>
            <div class="secciones">

                <article class="conocenos" id="artUno">
                    <img src="../assets/img/contenido_principal/hands.png" alt="Imagen de Manos">
                    <h2>Conócenos</h2>
                    <p class = "luca">
                        Luca Pallanca nacio en Génova, Italia, pero desde hace 10 años que radica en la ciudad de Cuenca. <br> tiene 47 años  y junto con su compañero Byron Fares con 47 años de edad
                    </p>
                </article>
                <div class="seccionesDos">
                    <article class="Mision" id="artDos">
                        <h2>Misión</h2>
                        <p id="text">
                            Según Luca Pallanca, la afluencia diaria de personas necesitadas despertó la sensibilidad en la gente. “Todos somos uno” es un proyecto que funciona gracias a donaciones de cuencanos. “Yo solo canalizo esa ayuda para los más necesitados”, aclaró.
                        </p>
                    </article>
                    <article class="objetivo" id="artTres">
                        <h2>Objetivo</h2>
                        <p id="text">
                            Según el Pallanca “Todos somos uno” constituye miles de personas que diariamente apoyan, más una quincena de voluntarios activos que contribuyen para fortalecer este proyecto solidario con la entrega de alimentos.
                            Otro de los objetivos del proyecto solidario es conseguir donaciones de medicamentos. Hasta ahora ya se han conseguido algunas medicinas, pero con el aumento de pacientes, se requieren más de ellas para la atención.
                        </p>
                    </article>
                    <article class="Vision" id="artCuatro">
                        <h2>Visión</h2>
                        <p id="text">
                            “Aspiramos si es que siguen colaborando así los cuencanos de llegar a más barrios”, dijo Byron Fárez.
                        </p>
                    </article>
                </div>
                <!--Inicio de la sección de fotos-->
                <h1 class="fotos">Fotos</h1>
                <div class="fotos_menu">
                    <input type="checkbox" id="check__menu">
                    <label id="#label__check" for="check__menu">
                        <i class="fa-solid fa-images icon__menu"></i>
                    </label>

                    <div class="menu">
                        <nav>
                            <ul>
                                <li><a href="#" id="selected"></a></li>
                                <li><a href="#">Luca Pallanca</a></li>
                                <li><a href="#">Byron Farez</a></li>
                                <li><a href="#">Bruno Bravo</a></li>
                                <li><a href="#">Josue Matailo</a></li>
                                <li><a href="#">Joao Chalan</a></li>
                                <li><a href="#">Nathaly Pinguil</a></li>
                            </ul>
                        </nav>
        
                    </div>
        
                </div>
            <div class="imagenes">
                <div class="subimgs">
                    <div id="fotoUno">
                        <!--<p>Foto 1</p>-->
                        <img src="../assets/img/contenido_secfotos/Luca.jpg" alt="">
                    </div>
                    <div id="fotoDos">
                        <!--<p>Foto 2</p>-->
                        <img src="https://scontent.fcue2-1.fna.fbcdn.net/v/t31.18172-8/204934_201210179911085_3024574_o.jpg?_nc_cat=108&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeFnB5mLO5wGCvKwsMFLCkyx69_6pN69ld3r3_qk3r2V3aTZgI17vkI4Ys74INg0jd24gdVaBHsMLVRJsm0aXQqp&_nc_ohc=Vur51zAR--IAX-PHDA2&_nc_ht=scontent.fcue2-1.fna&oh=00_AfAghi7xJIyPvQ2Ce2-B8z6HFZC3NwCRHsITV5pZT8Wt2g&oe=63F06631"
                            alt="">
                    </div>
                    <div id="fotoTres">
                        <!--<p>Foto 3</p>-->
                        <img src="../assets/img/contenido_secfotos/Bruno_Bravo.jpg" alt="">
                    </div>
                </div>
                <div class="subimgs">
                    <div id="fotoCuatro">
                        <!--<p>Foto 4</p>-->
                        <img src="../assets/img/contenido_secfotos/Nathy.jpg" alt="">
                    </div>
                    <div id="fotoCinco">
                        <!--<p>Foto 5</p>-->
                        <img src="../assets/img/contenido_secfotos/Josue.jpg" alt="">
                    </div>
                        <div id="fotoSeis">
                            <!--<p>Foto 6</p>-->
                            <img src="" alt="">
                        </div>
                    </div>
                </div><!--Fin de la sección de fotos-->
            </div>
            
        </section>

        <!--Inicio del Pie de página-->
        <footer class="piepagina">
            <div id="pieUno">
                <h2>Integrantes</h2>
                <ul>
                    <p class="h">Bruno Bravo</p>
                    <p class="o">Alejandro Chalan</p>
                    <p class="l">Josue Matailo</p>
                    <p class="a">Nathaly Pinguil</p>
                </ul>
            </div>
            <div class="pieDos">
                <h2>Contactanos</h2>
                <p class="ajuste2">Teléfono:  099 854 2476</p>
                <p class="ajuste3">todossomosunolucapallanca@gmail.com</p>
                <p class="ajuste4">Todos Somos Uno</p>
            </div>
            <div id="pieTres">
                <h2>Comunidad Virtual</h2>
                <div class="redes">
                    <a href="https://www.instagram.com/todossomosunolucapallanca/?hl=es-la" target="_blank"><img src="../assets/img/contenido_pie/instagram.png" alt=""></a>
                    <a href="https://www.facebook.com/TodosSomosUnoLucaPallanca/" target="_blank"><img src="../assets/img/contenido_pie/facebook.png" alt=""></a>
                    <a href="" target="_blank"><img src="../assets/img/contenido_pie/whatsapp.png" alt=""></a>
                    <a href="https://goo.gl/maps/YTLKbvmZNP6KZK626" target="_blank"><img src="../assets/img/contenido_pie/telegram.png" alt=""></a>
                    <a href="/index.html"><img class="ajuste" src="../assets/img/contenido_encabezado/vision.png" alt=""></a>
                </div>
            </div>
        </footer>
    </div>

</body>
</html>